/*
font-family: 'Dancing Script', cursive;
font-family: 'Kosugi Maru', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

#navbar-container {
  margin-left: 8vw;
  margin-right: 8vw;
}
.navbar {
  width: 100vw;
  position: absolute;
  z-index: 2;
  background-color: transparent;
  top: 0;
  left: 0;
  font-size: 1em;
}
.navbar-brand {
  display: flex;
  align-items: center;
}
.search-btn button {
  border: solid 1px rgba(48, 178, 218, 0.6);
  color: rgba(48, 178, 218, 0.6);
}

.rec1 img {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 60vh;
  object-fit: cover;
  top: 22vh;
  z-index: 0;
  user-select: none;
}
#rec-text {
  color: #3db1ff;
  position: absolute;
  left: 3vw;
  top: 17vh;
  font-size: 1.2em;
  font-weight: 200;
}


#rec-title {
  position: absolute;
  top: 24vh;
  right: 204.5vw;
  z-index: 1;
  font-weight: 600;
  color: #83cafa;
  font-size: 1.6em;
  padding: 3px 10px 3px 10px;
  background-color: rgba(0, 0, 0, 0.6);
}
#rec-title-jp {
  z-index: 1;
  position: absolute;
  font-family: 'Kosugi Maru', sans-serif;
  color: #dcc831;
  font-size: 1.2em;
  top: 31vh;
  right: 204.5vw;
  padding: 3px 10px 3px 10px;
  background-color: rgba(0, 0, 0, 0.6);
}
#rec1-line {
  height: 1px;
  background-color: #3db1ff;
  width: 35vw;
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 16vh;
}
#rec-vndb-link {
  color: white;
  position: absolute;
  z-index: 1;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3px 10px 3px 10px;
  right: 201vw;
  bottom: 18vh;
}

.fp-custom-arrow {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.fp-custom-arrow svg {
  width: 32px;
  height: auto;
}
#s1-1-right {
  position: absolute;
  bottom: 9vh;
  right: 202vw;
  font-size: 1.4em;
}

#s1-2-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  top: 0;
  left: 100vw;
  z-index: 0;
  user-select: none;
}
#s1-2-content {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.618);
  position: absolute;
  left: 100vw;
  top: 0;
  height: 100vh;
  width: 50vw;
  padding: 30px;
}
#s1-2-title {
  top: 10vh;
  left: 3vw;
  z-index: 2;
  font-weight: 600;
  color: #83cafa;
  font-size: 1.6em;
  padding: 0;
  margin: 0;
}
#s1-2-title-jp {
  font-family: 'Kosugi Maru', sans-serif;
  color: #dcc831;
  font-size: 1.2em;
}
#synopsis-text {
  color: #fff;
  font-family: 'Dancing Script', cursive;
  padding: 0;
  margin: 8px 0 4px 0;
}
#synopsis-wrapper {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8em;
  padding: 0;
  margin: 0;
  overflow-wrap: break-word;
  white-space: pre-line;
}
#s1-2-right {
  color: white;
  font-size: 1.4em;
}

#s1-3-line {
  user-select: none;
  z-index: 0;
}
#s1-3-content {
  z-index: 1;
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
}
#s1-3-main {
  background-color: #53cef8;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100vw;
  height: fit-content;
  position: absolute;
  top: 20vh;
  display: flex;
  align-items: center;
  justify-items: center;
}
#s1-3-main iframe {
  width: 80vh;
  height: 45vh;
  margin: auto;
}
#memory-text {
  color: #53cef8;
  position: absolute;
  top: 14vh;
  left: 210vw;
  font-weight: 600;
  font-size: 1.7em;
}
#op-text {
  color: #53cef8;
  position: absolute;
  right: 8vw;
  bottom: 18vh;
  font-weight: 800;
  font-size: 3em;
}
#s1-3-left {
  position: absolute;
  top: 3vh;
  left: 201.5vw;
}